name: Tests
on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24, latest]
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint with prettier
        run: yarn lint
      - name: Run tests
        run: yarn test
